<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>programacion visual html</title>
  <link rel="stylesheet" type="text/css" href="css/estilos.css"/>
 </head>
 <body>
       <div id="contenedor">
            <header>
               <h1>Liga de fútbol profesional</h1>
            </header>
            <nav>
                  <ul>
                      <li><a href="index.html">Home</a></li> 
                      <li><a href="fixture.html">Fixture y resultados</a></li>
                      <li><a href="equipos.html">Equipos</a></li>
                  </ul>
             </nav>  
             <section id="contenido"> 
                 <table>     
                     <tr>
                        <td><img class="imagen1" alt="this is a screenshot" src="img/arsenal.jpg"></td>
                        <td>
                           <p>
                             Fundado en 1886 en el sudeste de Londres, en 1893, 
                             se convirtió en el primer club del sur de Inglaterra 
                             en unirse a la Football League. Ganó sus primeros títulos 
                             —cinco ligas y dos FA Cups— en los años 1930. 
                             Luego de un período de escasez en los años posteriores a la 
                             Segunda Guerra Mundial, se convirtió en el segundo club del siglo XX 
                             en ganar el doblete, obteniendo el Campeonato de Liga y la FA Cup 
                             de la temporada 1970-71. Los logros siguieron en los años 1990 y 2000.
                             Durante esos años, Arsenal ganó un doblete de copas nacionales, 
                             dos dobletes de Liga y Copa, y dos bicampeonatos de la Copa de
                             Inglaterra. Finalizó una temporada de Liga invicto y se convirtió 
                             en el primer club de Londres en llegar a la final de la Liga de Campeones de la UEFA.
                           </p>
                         </td>
                     </tr>
                     <tr>
                        <td><img class="imagen1" alt="this is a screenshot" src="img/arsenal.jpg"></td>
                        <td>
                           <p>
                             Fundado en 1886 en el sudeste de Londres, en 1893, 
                             se convirtió en el primer club del sur de Inglaterra 
                             en unirse a la Football League. Ganó sus primeros títulos 
                             —cinco ligas y dos FA Cups— en los años 1930. 
                             Luego de un período de escasez en los años posteriores a la 
                             Segunda Guerra Mundial, se convirtió en el segundo club del siglo XX 
                             en ganar el doblete, obteniendo el Campeonato de Liga y la FA Cup 
                             de la temporada 1970-71. Los logros siguieron en los años 1990 y 2000.
                             Durante esos años, Arsenal ganó un doblete de copas nacionales, 
                             dos dobletes de Liga y Copa, y dos bicampeonatos de la Copa de
                             Inglaterra. Finalizó una temporada de Liga invicto y se convirtió 
                             en el primer club de Londres en llegar a la final de la Liga de Campeones de la UEFA.
                           </p>
                        </td>
                      </tr>
                 </table>
            </section>
         
            <aside>
                <h2>Auspiciantes</h2>
                <div class="imagen2div">
                   <img class="imagen2" alt="this is a screenshot" src="img/adidas.png"><br>
                   <img class="imagen2" alt="this is a screenshot" src="img/macro.jpg"><br>
                   <img class="imagen2" alt="imagen usando quote" src="img/fravega.png"><br>
                </div>
            </aside>
            <footer>
                <h3>Avda. Pedro Ortiz de Zarate N° 455-Tel388 4789555</h3>
            </footer>
   
       </div>
 </body>
</html>